@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --bg-colour: #6f6f36;
  --header-height: 20em;
  --bg-image: url("../img/header.jpg");
  font-size: 1.25em;
}

html {
  background-color: var(--bg-colour);
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-colour);
}

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

div.bg-capy {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: var(--header-height);
  padding: 0;
  margin: 0;
  z-index: 1;
}

div.bg-capy .gradient {
  height: var(--header-height);
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    var(--bg-colour) 100%
  );
  z-index: 2;
}

.bg-bg {
  background-color: var(--bg-colour);
}

.title-big {
  font-size: 5rem;
  margin-left: -0.25em;
}

#scroll-arrow {
  transition: 0.2s ease-in-out;
}

.img-border {
  box-shadow: 0 0 50px white;
  border-radius: 1em;
  border: 2px solid white;
}

.footer {
  background-color: var(--bg-colour);
  height: 5em;
}

.footer .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer .container ul li {
  float: left;
  padding: 0.25em;
  font-size: 0.8rem;
}

.logo {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  width: 5ex;
  z-index: 99;
}

ul.horizontal li {
  display: inline-block;
  margin-right: 0.5em;
}

.f-r-d {
  float: right;
}

img.intext {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .logo {
    right: auto;
    left: 0.75em;
  }
  .title-big {
    font-size: 2.5rem;
    margin: 0;
  }

  .title-small {
    font-size: 1.75rem;
  }

  div.bg-capy {
    background-position: left;
  }

  .f-r-d {
    float: none;
  }

  img.intext {
    width: 80%;
  }
}
